.NoResults{
    margin-top: 1.2em;
}


/* Search Card css */


.SearchCard{
    margin-top:1.2em;
}

.card_img img{
    width:80%;
    text-align: left;
}
.container_card{
    display: grid;
    grid-template-columns: 30% auto;
}
.card_info{
    padding:14% 1.2em;
}
.popularity{
    border-left: 1px solid gray;

}
.sub_info span{
padding:0 .6em;
}

.search{
    margin-top:1.2em;

    width:100%;
    height: auto;
}
